body{
    display: grid;
    grid-template-columns:repeat(18, 1fr);
grid-gap: 10px;
    text-align: center;
}

.nothing1{
    grid-column: 2/18;
    background-color: white;
}

.nothing2{
    grid-column: 3/13;
    background-color: white;
}

.nothing3{
    grid-column: 3/13;
    background-color: white;
}

div{
    background-color: #ffb2b2;;
    border-radius: 5px;

}