.all{
    padding:0px;
    margin: 0px;
    display: grid;
    grid-template-columns:repeat(8, 8fr) ;
    grid-template-rows: repeat(6, 5fr);
    grid-gap: 5px;
    grid-column-gap:5px ;
background-image: url("astanait.jpg") ;
    background-repeat: no-repeat;
    background-size: 1500px;
    height: 900px;
font-family: sans-serif;



}

div.blue1st{
    background-color: #204457;
    grid-column: 1/9;
}

div.blue2nd{
    background-color: #204457;
grid-column: 1/3;
    grid-row: 2/5;
}
div.blue3rd{
    background-color: #204457;
grid-column: 5/9;
    padding: 25px;
    font-size: 15px;
    color: white;
}
div.blue4th{
    background-color: #204457;
grid-column: 3/5;
    text-align: center;
    font-size: 40px;
    color: white;
}
div.blue5th{
    background-color: #204457;
grid-column: 7/9;
}
div.blue6th{
    background-color: #204457;
grid-column: 3/6;
}
div.blue7th{
    background-color: #204457;
grid-column: 7/9;
}div.blue8th{
     background-color: #204457;
grid-column: 1/5;
    text-align: right;

    vertical-align: center;
    padding: 30px;
     font-size: 15px;
     color: white;
 }
div.blue9th{
    background-color: #204457;
grid-column: 6/9;
}div.blue10th{
     background-color: #204457;
grid-column: 1/9;
 }
