.all{
    background-color: rgba(244,244,244,0.91);
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    border-radius: 5px;
    width: 500px;
}

.all2{
    background-color: rgba(224,232,236,0.91);
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-column: 1/3;
    grid-auto-rows: minmax(70px, auto);
    font-size: 15px;
    font-family: sans-serif;
    padding: 8px;
    border-radius: 5px;
}

.login{
    background-color: rgba(204,221,230,0.91);
    font-family: sans-serif;
    font-size: 22px;
    grid-column: 1/3;
    grid-auto-rows: minmax(50px, auto);
    padding-left: 13px;
    margin-bottom: 10px;
}

.blocks{
    padding-left: 10px;
}


input.text{
    width: 280px;
    height: 19px;
    padding: 8px;
    border-radius: 5px;
}


input.login{
    background-color: rgba(71,132,167,0.91);
    width: 160px;
    height: 15px;
    padding: 15px;
    border-radius: 5px;
}

a.class{
    font-size: 10px;
    color: #0089fe;
}
a{color: #0089fe;

}

.last{
    display: grid;
    grid-template-columns:2fr 2fr ;
    justify-items: end ;
}

.lastlast1{
     align-self: end;
     padding: 9px;
     border-right: grey 1px inset;
    padding-bottom: 5px;
    margin-bottom: 5px;
 }

.lastlast2{
    align-self: end;
    padding: 9px;

}