.all{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}


.imagine{
grid-column: 1/2;
    display: flex;
}

img.imagine-1{
    width: 300px;
    height: 200px;
    border: black 5px solid;
}

.2nd{
    position: absolute;
  }

  .calculation{
      margin-top: 70px;
      margin-left: 70px;
      display: grid;
      grid-column: 1/3;
      height: 90px;
      grid-template-columns: repeat(2,70px);

  }

  .equal{
      width: 100px;
      height: 50px;
      padding-top: 50px;

  }

  .inputeq{
      margin-left: 150px;
      width: 100px;
      height: 20px;
  }