.all{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #474748;
    grid-gap: 3px;
    width: 200px;
    height: 400px;
    border: black 5px solid;
    color:white ;
    font-family: sans-serif;
    font-size: 20px;

}


.first{
    background-color: #474748;
    grid-column: 1/5;
    height: 30px;
    padding: 0;
    display: flex;
}
.inputnum{
    margin: 3px;
    width: 188px;
    height: 58px;
}


.dark{
    background-color: #3f4550;
    text-align: center;
    padding-top:5px;
}
.dark:hover{
    background-color: #616771;
}

.zero{
    grid-column: 1/3;
    background-color: #616771;
    text-align: center;
    padding-top:5px;
}

.zero:hover{
    background-color: #9a9b9c;
}

.orange{
    background-color: #ff9f0b;
    text-align: center;
    padding-top:5px;
}

.orange:hover{
    background-color: #8e5905;
}

.box{

    background-color: #626872;
    text-align: center;
    padding-top:5px;
}

.box:hover{
    background-color: #9a9b9c;
}
