body{
    display: flex;
    justify-content: space-around;
    top: 50%;
}


.all{
text-align: center;
    width: 50%;
    height: 200px;
    display: grid;
background-color: #fafafa;
    vertical-align:center ;
   grid-template-columns: repeat(1,1fr);
    alignment: center;
    padding-left: 10%;
}
.count{
    position: absolute;
    margin-left: 20%;
    z-index: 1;
}
.grey{
width: 90%;
    height: 30px;
    background-color: #eeeeee;
    margin-top: 10%;

    text-align: center;
padding-bottom: 25px;
}

.red{
    width: 1%;
    height: 55px;
    background-color: #cd433c;
position: relative;
    z-index: 0;
}

.button{
width: 40%;
    height: 60px;
    background-color: #cd433c;
margin-left: 20%;

}

.button:hover{
    background-color: #a72b17;
}

p{
    font-size: 20px;
    font-family: sans-serif;

}