.allback{
    background-color: #effd2c;
    margin: 0;
    padding: 0;
width: 100%;
    height: 100%;
    z-index: 1000;
}
.container{
background-color: white;
text-align: center;
    margin:auto;

}
a{
    text-decoration: none;

}


.black{
    background-color: black;
}

.white{
    color: white;
}

.alltext{
    background-color: black;
    opacity: 0.7;
    color: white;
position: fixed;
    right: 10%;
    left: 10%;
    text-decoration:none;
    list-style: none;
    display: grid;
margin-top: 0;
    font-size: 15px;
    text-align: center;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    grid-gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Al Bayan";
    z-index:100;
}

ul.all{
    background-color: black;
    color: white;
    opacity: 0.5;
    text-decoration:none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: sans-serif;
    font-size: 35px;
    text-align: center;
}
ul{    list-style: none;
    line-height: 50px;
    border-radius: 5px;
    align-content: left;
}


li.good{
    display: block ;
    padding: 0px;
    margin: 0px;
    align-items: center;
    width: 34%;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color:white;
}
li.good1{

    border-radius: 1px;

    display: none;
}

li.good:hover li.good1{

    display: block;

}


.nav1{
    text-align: center;
    border-radius: 17px;
    vertical-align: center;
    padding-top: 13px;
    color: white;
    grid-row: 1/0.5;
}

.nav1:hover{
    background-color: #445162;

}















.text-center{
    text-align: center;
}

.margin{
    margin:40px;
}

.margin-center{
    margin: 50%;
}
.all{
    width: 100%;
    height: 150%;
    background-color: white ;
    display: flex;
    justify-content: start;
    position: fixed;
    z-index: 100000;
    animation-duration: 10000000000s;
    animation-name: all;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    animation-delay: 3s;


}




.loading{
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 80%;
    background-color: black;
    border: 15px solid;
    border-top: 20px solid yellow;
    animation-name: loading;
    text-transform: uppercase;
    padding-top: 60px;
    padding-left: 15px;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    animation: loading 3s ease-out infinite;
    margin-top: 20%;
    z-index: 10;
    animation-iteration-count: infinite;

}



@keyframes loading {




    0% {
        transform: rotate(0deg); border-color: yellow;
    }

    25% {
        transform: rotate(90deg); border-color: grey;
    }
    50% {
        transform: rotate(180deg); border-color: yellow;
    }
    75% {
        transform: rotate(360deg); border-color: black;
    }
    100% {
        transform: rotate(360deg); border-color: grey;
    }
}



@keyframes all {
    from {z-index: 100000}
    to{z-index: -100000}
}






















.aboutus{

    text-align: center;
    font-family: "Al Bayan";
    padding: 20px;
margin: auto;
width: 70%;

}

.lily{
    width: 80%;
    height: 500px;
}










.registration{
    background-color: #afafaf;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    border-radius: 5px;
width: 80%;
margin: auto;
    font-family: "Al Bayan";
    height: 400px;

}

.all2{
    background-color: #8c8c8c;
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-column: 1/3;
    grid-auto-rows: minmax(70px, auto);
    font-size: 10px;
    padding: 8px;
    border-radius: 5px;
    font-family: "Al Bayan";
}

.login{
    background-color: #8c8c8c;
    font-family: "Al Bayan";
    font-size:15px;
    grid-column: 1/3;
    grid-auto-rows: minmax(50px, auto);
    padding-left: 13px;
    margin-bottom: 10px;

}

.blocks{
    padding-left: 10px;
}


input.text{
    width: 280px;
    height: 25px;
    padding-bottom:15px;
    padding-top: 15px;
    border-radius: 5px;
    vertical-align:center;
}


input.login{
    background-color: #c4c57e;
    width: 160px;
    height: 15px;
    padding-top: 25px;
    border-radius: 5px;
}

input.login:hover{
    background-color: #fdfe9d;
}


.last{
    display: grid;
    grid-template-columns:2fr 2fr ;
    justify-items: end ;
}

.lastlast1{
    align-self: end;
    padding: 9px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.username{
    font-size: 25px;
}

a.learnmore{
    text-decoration: none;
    color: black;
}




.end{
    width: 100%;
  display: flex;
    background-color: #4c4c4c;
    padding: 50px;


}
.endend1{

    height: 100%;
    text-align: left;
    background-color: #4c4c4c;
padding-left: 10%;
    padding-right: 10%;
    padding-top:50px;

}


img.ig{
    width: 20px;
    height: 20px;
}


a.ig{
color: white;

}

.endend2{

    height: 100%;
    text-align: left;
    background-color: #4c4c4c;
    padding-left: 10%;
    padding-right: 10%;
    padding-top:50px;
}



.button{
    width: 60px;
    height: 20px;
}


.first{
    width: 100%;
    text-align: center;
    font-family: "Al Bayan";
}

.salon1{
    width: 100%;
text-align: left;
    padding: 10%;
    font-family: "Al Bayan";
    margin: auto;
}

td{
    width: 80%;
    border-bottom: black 1px solid;

}


td.end{
    text-align: right;
    background-color: white;

}


a.price-list{
    text-decoration: none;
    color: black;
    font-family: "Al Bayan";
    font-size: 20px;
}



.works{
    vertical-align: center;
    text-align: center;
font-family: "Al Bayan";
}


img.abc1{
    width:35%;
    height: 420px;
    position: absolute;
    right: 32%;
    z-index: 1;
    margin-top: -3%;
    opacity: 0.7;
}
img.abc2{
    width:35%;
    height: 350px;
    position: relative;
    opacity: 0.5;

    z-index: 0;
}
img.abc3{
    width:35%;
    height: 350px;
    position: relative;
    margin-left: 40px;
    z-index: 0;
opacity: 0.5;

}

img.abc1:hover{
z-index: 20;
    width:37%;
    height: 450px;
    opacity: 1;
}
img.abc2:hover{
    z-index: 20;
    width:37%;
    height: 400px;
    opacity: 1;
}
img.abc3:hover{
    z-index: 20;
    width:37%;
    height: 400px;
    opacity: 1;
}


a.checkw{
    text-decoration: none;
    color: black;
    font-family: "Al Bayan";
    font-size: 20px;
}


ul.allall{
    background-color: black;
    color: white;
    opacity: 0.5;
    text-decoration:none;
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content: space-between;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;

}
ul{    list-style: none;
    line-height: 0px;
    border-radius: 5px;
}


li.good{
    display: block ;
    padding: 0px;
    margin: 0px;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}


li.good:hover{
    background-color: yellow;
    color: black;
}

a{
    text-decoration: none;
    color:white;
}
li.good1{
    background-color: #ffffff;
    border-radius: 1px;
    color:black;
    display: none;
}

li.good:hover li.good1{
    background-color: yellow;
    display: block;


}

.incon{
    text-align: left;
    font-family: "Al Bayan";

}



.carousel-inner img{
    width: 500px;
    height: 500px;
   margin: auto;

}



.insta{
  width: 100%;
    display: flex;
background-color: #fafafa;
}
.iconin{
    display: grid;
    grid-template-columns: 1fr 2fr;
justify-content: space-between;
    column-gap: 15px;
}

.icon{
    border-radius: 80px;
  width: 150px;
    height: 150px;
    border: #cc3a92 2px inset;
    vertical-align: center;
    text-align: center;
    margin-left: 15%;
    margin-top: 15%;
}
.icon:hover{
    opacity: 0.9;
    background-color: #a4a4a4;
}
.preicon{
    border-radius: 80px;
    width: 140px;
    height: 140px;
    border: #afafaf 1px inset;
margin-top:2.5px ;
margin-left: 2.5px;
   padding-top: 40px;

}

.preicon h1{
    font-family: cursive;

}

.headin{
    display: flex;
    border-bottom: black 1px outset ;
  vertical-align: center;
padding-top: 15px;
padding-bottom: -15px;
    background-color: #ffffff;
}

.headinin{
    height: 30px;
}

.textinsta{
    padding-top: 7%;
padding-left: 12%;
}
.iadd{
    text-align: left;
}

.textpre{
    margin-top:2%;
    margin-left: 8%;
    grid-column: 1/3;
}

.follow{
    width: 150px;
    height: 30px;
    background-color: #3897f0;
}

.row{
    height: 150px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);

   padding: 15px;

}

.story{
    width: 100px;
    height: 100px;
    border: black 1px double;
    border-radius: 60px;
    margin-left: 30px;
    margin-right: 10px;
    text-align: center;
}
.story:hover{
    opacity: 0.7;
    background: #afafaf;
}

.prestory{
    width: 90px;
    height: 90px;
    border: black 1px double;
background: url("ab1.jpg.jpg");
    border-radius: 70px;
    margin-top:4px;
    margin-left: 4px;


}
.story1{
    width: 100px;
    height: 100px;
    border: black 1px double;
    border-radius: 60px;
    margin-right: 10px;
    text-align: center;

}
.story1:hover{
    opacity: 0.7;
    background: #afafaf;
}

.prestory1{
    width: 90px;
    height: 90px;
    border: black 1px double;
    background: url("ab2.jpg");
    border-radius: 70px;
    margin-top:4px;
    margin-left: 4px;
}
.story2{
    width: 100px;
    height: 100px;
     border: black 1px double;
     border-radius: 60px;
    margin-right: 10px;
    text-align: center;
 }
.story2:hover{
    opacity: 0.7;
    background: #afafaf;
}

.prestory2{
    width: 90px;
    height: 90px;
    border: black 1px double;
    background: url("ab3.jpg");
    border-radius: 70px;
    margin-top:4px;
    margin-left: 4px;
}
.story3{
    width: 100px;
    height: 100px;
    border: black 1px double;
    border-radius: 60px;
    margin-right: 10px;
    text-align: center;

}
.story3:hover{
    opacity: 0.7;
    background: #afafaf;
}

.prestory3{
    width: 90px;
    height: 90px;
    border: black 1px double;
    background: url("ab4.jpg");
    border-radius: 70px;
    margin-top:4px;
    margin-left: 4px;
}

.photoinst {
    width: 100%;
display: flex;
    flex-wrap: wrap;

   padding: 20px;


}

.phimg img{
    width : 100%;
    height : 350px;

}

.phimg{
    display: flex;
    margin:auto;
position: relative;
margin-bottom: 20px;
}
.hov{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    vertical-align: center;
    padding: 30%;
    background-color: #8c8c8c;
    opacity: 0;
}

.hov:hover{
    opacity: 0.7;

}

.phimg p{

}





.allingm{
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;

}

nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

}

.alliningm{
    display: flex;
    border: grey 1px solid;
    height: 500px;
    width: 360px;
padding:50px;
    padding-top: 30px;
    border-radius: 5px;
    margin-top: 30px;
    background-color: white;
}

.sign{
    align-content: center;
    align-items: center;
    text-align: center;
}
img{
    width: 150px;
    height: 100px;
}

span.signtext{
    font-size: 20px;
}
span.add{
    font-size: 10px;
    color: grey;

}

.action{
    display: flex;
    width: 270px;
    height: 200px;
    line-height: 40px;
    text-align: left;

}

input.text{
    width: 250px;
    height: 30px;
    border-radius: 5px;
}


input.password{
    width: 250px;
    height: 30px;
    border-radius: 5px;
}

a{
    text-decoration: none;
    font-size: 15px;
    color: rgba(63,127,226,0.85);
}

a.learn{
    font-size: 10px;
}

p{
    font-family: sans-serif;
}

.finish{
    display: flex;
    flex-direction: row;
}

input.button{
    color: white;
    font-size: 15px;
    width: 90px;
    padding: 8px ;
    background-color: #0089fe;
    border: none;
    cursor: pointer;
    margin-left: 90px;
    border-radius: 5px;

}















.reserve {

    display: flex;
    justify-content: center;
    padding: 50px;
}

.box {
    min-width: 450px;
    min-height: 600px;
    background-color: #ffffff;
    box-shadow: #b2bc21;
    padding: 40px;
}

.box h5 {
    color: black;
    text-align: center;
    font-size: 25px;

    border-bottom: 1px solid;
    padding-bottom: 3px;
    font-family: "Al Bayan";
    font-weight: bold;
}

.registration1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputs {
    font-family: "Al Bayan";
    font-size: 18px;
    color: black;
}

input.res{
    -webkit-appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: black 1px solid;
    outline: none;
}

input:checked {
    border: yellow 1px solid;
}



.button12 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

button.res {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding-top:10px;
    padding-left: 40px;

    background-color: #0c5460;
    border: none;
}



.circle{
    background-color: #7ea143;
    width: 80px;
    height: 80px;
    position: fixed;
    z-index: 100;
    left: 85%;
    top: 85%;
    text-align: center;
    padding-top: 15px;
    opacity: 0.8;

}

.circle p{
    font-family: "Al Bayan";
    font-size: 10px;

}

a .circle{
    text-decoration: none;
    color: white;
}


.circle span{
    color: black;
}





