.text-center{
    text-align: center;
}

.margin{
    margin:40px;
}

.margin-center{
    margin: 50%;
}
.all{
    width: 100%;
    height: 150%;
    background-color: white ;
    display: flex;
    justify-content: start;
    position: absolute;
    z-index: 9;
animation-duration: 10000000000s;
    animation-name: all;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
animation-delay: 3s;

}




.loading{
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 80%;
    background-color: black;
border: 15px solid;
    border-top: 20px solid yellow;
animation-name: loading;
    text-transform: uppercase;
    padding-top: 60px;
    padding-left: 15px;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    animation: loading 3s ease-out infinite;
margin-top: 20%;
    z-index: 10;
animation-iteration-count: infinite;

}



@keyframes loading {




    0% {
        transform: rotate(0deg); border-color: yellow;
    }

    25% {
        transform: rotate(90deg); border-color: grey;
    }
    50% {
        transform: rotate(180deg); border-color: yellow;
    }
    75% {
        transform: rotate(360deg); border-color: black;
    }
    100% {
        transform: rotate(360deg); border-color: grey;
    }
}



@keyframes all {
 from {opacity: 1}
    to{opacity: 0}
}




