body{
    font-family: cursive;
    background-color:white;
    text-align: center;
    align-content: center;
    align-items: center;
}

.all{
    align-content: center;
    background-color: rgba(217,181,130,0.79);
    width: 60%;
    height: 60%;
    border-radius: 40px;
}