body{
    background-color: rgba(68,81,96,0.79);
}
.head{
    width: 100%;
    height: 25%;

}

.equal{
    width: 25%;
    height: 15%;
    background-color: rgba(255,159,11,0.79);
    color: white;
    text-align: center;
    vertical-align: center;
    font-family: ".SF NS Display" ;
    font-size: 50px;
}


