.all{
    background-color: rgba(217,181,130,0.79);
    width: 60%;
    height: 75%;
    text-align: left;
    margin-right: 30px;
    margin-top: 30px;
    margin-left: 30px;
    padding: 100px;
}


body{
    background-color: azure;
}

span{
    color: rgba(54,96,64,0.79);
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 2px;
}


footer{text-align: right}