body{
    background-color: rgba(116,156,192,0.79) ;
}

.first{
    align-self: center;
    vertical-align: center;
    background-color: rgba(242,235,208,0.79);
width: 95%;
    height: 95%;
    text-align: center;
    margin-right: 30px;
    margin-top: 30px;
    margin-left: 30px;
padding: 23px;
}
.second{
height: 30%;
    color: rgba(54,96,64,0.79);
    font-family: sans-serif;
    font-size: 90px;
    letter-spacing: 5px;
    word-spacing: 2px;
}


.the{
    color: rgba(54,96,64,0.79);
    font-family: sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
    word-spacing: 2px;
}

.dictionary{
    color: rgba(119,112,95,0.79);
    font-family: cursive;
    font-size: 35px;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.annot{
    font-family: cursive;
    font-size: 15px;
    letter-spacing: 3px;

}

.author{
    color: rgba(54,96,64,0.79);
    font-family: sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    word-spacing: 2px;
}