.red{
    border: #ffb2b2 7px solid;
    display: flex;
justify-content: space-between;
    flex-direction: column;
padding-bottom: 30px;
    padding-top: 30px;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;

}

.blue:nth-of-type(odd){
    border: #445162 7px solid;
    display: flex;
    flex-direction: row;
    flex-basis: 90px;
    width: 95%;
    border-radius: 5px;
    margin: 10px;
}

.blue:nth-of-type(even){
    border: #445162 7px solid;
    display: flex;
    flex-direction: row-reverse;
    flex-basis: 90px;
    width: 95%;
    border-radius: 5px;
    margin: 10px;
    text-align: right;
}

