body{
    background-color: rgba(238,198,207,0.85);
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav{
    height: 100px;
display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

}

.all{
    display: flex;
    border: grey 1px solid;
    height: 500px;
    width: 360px;
    padding-left: 90px;
    padding-top: 30px;
    border-radius: 5px;
    margin-top: 30px;
    background-color: white;
}

.sign{
    align-content: center;
    align-items: center;
    text-align: center;
}
img{
    width: 150px;
    height: 100px;
}

span.signtext{
    font-size: 20px;
}
span.add{
    font-size: 10px;
    color: grey;

}

.action{
    display: flex;
    width: 270px;
    height: 200px;
    line-height: 40px;
    text-align: left;

}

input.text{
    width: 250px;
    height: 30px;
    border-radius: 5px;
}


input.password{
    width: 250px;
    height: 30px;
    border-radius: 5px;
}

a{
    text-decoration: none;
    font-size: 15px;
    color: rgba(63,127,226,0.85);
}

a.learn{
    font-size: 10px;
}

p{
    font-family: sans-serif;
}

.finish{
    display: flex;
    flex-direction: row;
}

input.button{
    color: white;
    font-size: 15px;
    width: 90px;
    padding: 8px ;
    background-color: #0089fe;
    border: none;
    cursor: pointer;
    margin-left: 90px;
    border-radius: 5px;

}