ul.all{
     background-color: black;
     color: white;
     opacity: 0.5;
     text-decoration:none;
     list-style: none;
     display: flex;
     padding: 0px;
     margin: 0px;
     justify-content: space-between;
     flex-direction: row;
     font-family: sans-serif;
     font-size: 20px;
     text-align: center;
 }
ul{    list-style: none;
    line-height: 50px;
    border-radius: 5px;
}


li.good{
    display: block ;
    padding: 0px;
    margin: 0px;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}


 li.good:hover{
background-color: rgba(0,29,238,0.85);
}

 a{
     text-decoration: none;
     color:white;
 }
 li.good1{
background-color: rgba(152,152,152,0.91);
     border-radius: 1px;
     color:white;
     display: none;
 }

 li.good:hover li.good1{
     background-color: rgba(0,29,238,0.85);
     display: block;

 }