header{
   background-color: red;
    height:10%;
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 10px;
}


nav{
    background-color: grey;
    height: 600px;
    color:white;
    padding-left: 7px;
    float: left;
    width: 20%;

}

article {
    width: 60%;
    height: 600px;
    background-color: #ffffff;
    float: left;
    padding: 10px;
    padding-left: 30px;

}

footer {
    margin-top: 15px;
    width: 100%;
    height: 6%;
    background-color: #ffb2b2;
    clear: both;
    text-align: center;
    padding: 2px;
    float: bottom;
    color: black;
}

span{
    color: white;

}
