



.main1{
    background-color: #445162;
    height: 300px;
width: 98%;
color: white;


}



.productname{
    width: 300px;
    height: 150px;
float: left;
    padding-left: 20px;
    margin-left: 30px;

}





.white{
    background-color:white;
    width: 400px;
    height: 200px;
    float: right;
    margin: 50px;

}






.scndb{
    height: 300px;
    width: 100%;
    background-color: white;

  }





.aboutproduct{
    width: 400px;
    height: 150px;
margin-left: 30px;
    float: left;
    color:rgba(27,42,50,0.79);

}





.blue{
    background-color:#445162;;
    width:400px ;
    height: 200px;
margin-right: 80px;
    margin-top: 50px;
    float: right;

}







.thrdb{
      background-color: #445162;
      height: 500px;
      align-content: center;
    align-self: center;
    padding-top: 20px;
  }






.contacts{
color: white;
    height: 30px;
float: top;
    margin-top: 30px;
 vertical-align: top;
    margin-left: 20px;

}





.login{
    width: 150px;
    height: 500px;
    margin-right: 100px;
    margin-top: 100px;
vertical-align: bottom;
    text-align-all: right;
    float: right;
}







.name{
    background-color: white;
    color: #445162;
    width: 350px;
    height: 28px;
    text-align: center;
    float: top;
    margin-top: 50px;
    margin-left: 470px;

}





.email{
    background-color: white;
    color: #445162;

    width: 350px;
    height: 28px;
    text-align: center;
    float: top;
    margin-top: 10px;
    margin-left: 470px;

}

.mess{
    background-color: white;
    color: #445162;

    width: 350px;
    height: 100px;
    text-align: center;
    float: top;
    margin-top: 10px;
    margin-left: 470px;

}

.send{
    background-color: white;
    color: #445162;
    width: 55px;
    height: 37px;
    text-align: center;
    float: top;
    margin-top: 10px;
    margin-left: 615px;
}





.img{

    width:200px;
    height: 30px;

    margin-block-end: 1000px;
    margin-left: 800px;
    float: right;

}