body{
    background-color: black;
}
h2{
    color:white;
}
p{
    color:white;
}

.div1{
    padding: 5px;
    width:280px;
    height: 430px;
float: left;
background-color:green;
}

.div2{
    padding: 5px;
    width:280px;
    height: 430px;
    float: left;
    background-color:grey;
    border: solid 3px black;

}

.div3{
    padding: 5px;
    width:280px;
    height: 430px;
    float: left;
    background-color:green;
    border: solid 3px black;
}