.first{
    width: 33%;
    height: 30%;
    float: right;
margin-top: 1px;
    margin-right: 15px;
}
.second{
    width: 33%;
    height: 30%;
    float: right;
    margin: 3px;
}
.third{
    height: 30%;
    float: right;
    margin: 3px;
}