body{
    padding-left: 5%;
    padding-right: 5%;
}



img.tms{
    width: 70px;
    height: 40px;

}
.black{
    background-color: black;
}

.white{
    color: white;
}

.all{
margin-top: 40px;
    color: #434a50;

    text-decoration:none;
    list-style: none;
    display: grid;
    font-family: sans-serif;
    font-size: 15px;
grid-gap: 4px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.nav1{
    text-align: center;
    vertical-align: center;
    opacity: 0.5;
    border-radius: 15px;
    padding: 5px;
}

.nav1:hover{
    background-color: #f1f1f1;
}

h1{
    font-family: sans-serif;
    font-size: 35px;

}

.photobig{
    width: 100%;
    position: relative;

    z-index: -10;

}

.blue{
    width: 100%;
    height: 300px;
    background-color: #323d40;
    text-align: center;
    vertical-align: center;
    color: #a6b0b2;
position: relative;
    margin-top: 5px;
    padding-top: 60px;
    padding-bottom: 30px;

}

p.smalltext{
    font-size: 10px;
    font-family: sans-serif;
word-spacing: 2px;

p.textblue{
    margin-right: 30px;
    margin-left: 30px;
}

}

.smallp{
    width: 100px;
}


.whitend{
    text-align: center;
    padding-top: 50px;
    color: #323d40;
    font-family: "Arial Rounded MT Bold";
    font-size: 15px;
}

.textend{

}

.end{
   padding-left: -20%;
    text-decoration:none;
    list-style: none;
    display: grid;
    font-family: sans-serif;
    font-size: 15px;
    grid-template-columns: repeat(8,1fr);
}