

.navmain{
    margin-left: 25%;
    text-align: left;
}


.black{
    background-color: black;
}

.white{
    color: white;
}

.all{
    background-color: black;
    color: white;

    text-decoration:none;
    list-style: none;
    display: grid;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 40px;
    grid-gap: 5px;
}

.photo{
    display: flex;

}

span.blue{
color: #4452fb;
}


ul.all{
    background-color: black;
    color: white;
    opacity: 0.5;
    text-decoration:none;
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content: space-between;
    flex-direction: row;
    font-family: sans-serif;
    font-size: 35px;
    text-align: center;
}
ul{    list-style: none;
    line-height: 50px;
    border-radius: 5px;
    align-content: left;
}


li.good{
    display: block ;
    padding: 0px;
    margin: 0px;
    align-items: center;
    width: 34%;
    border-radius: 5px;
}


p{
    font-size: 20px;
}

a{
    text-decoration: none;
    color:white;
}
li.good1{

    border-radius: 1px;

    display: none;
}

li.good:hover li.good1{

    display: block;

}

.photo{
    padding:5%;
    line-height: 25px;
    word-spacing: 3px;
}
.photo1{
display: flex;
}

img.photoman{
width: 400px;
    height: 500px;
}

.part2{
    padding: 5%;
    line-height: 25px;
    word-spacing: 3px;
}

h4{
    color: #cf3e01;
}

span.bigdeal{
  font-size: 35px;
}

span.orange{
    color: #cf3e01;
    text-decoration: none;
}
.photos{
vertical-align: center;
    text-align: center;

}


img.abc1{
    width:35%;
    height: 420px;
    position: absolute;
    right: 32%;
    z-index: 1;
    margin-top: -3%;
}
img.abc2{
    width:35%;
    height: 350px;
    position: relative;


    z-index: 0;
}
img.abc3{
    width:35%;
    height: 350px;
position: relative;
margin-left: 40px;
    z-index: 0;


}


.nav1{
    text-align: center;
    border-radius: 17px;
    vertical-align: center;
    padding-top: 3px;
    color: white;
}

.nav1:hover{
    background-color: #777778;

}