.all{
    width:350px;
    height: 600px;

}

.left{
    width:150px;
    height:600px;
 float: left;

    line-height: 33px;

}

.right{
    width:200px;
    height: 600px;
    float: right;

    line-height: 30px;

}