.all{
    width: 400px;
    height: 550px;

}

.left{
    width: 150px;
    height: 550px;
    float: left;
    line-height: 26px;
}

.right{
    width: 200px;
    height: 550px;
    float: left;
line-height: 25px;
}